ADLS_ACCOUNT=contosodata
ADLS_CONTAINER=raw
SYNAPSE_SERVER=contoso-synapse.sql.azuresynapse.net
COSMOS_ACCOUNT=contosocosmos
KUSTO_CLUSTER=https://contoso.kusto.windows.net
FABRIC_WORKSPACE=SalesAnalytics
FABRIC_LAKEHOUSE=OneLakeSales
